<template name="tmpl_boards_list_detail">

			<li>
				<a class="js-open-board highlight-icon    unknown" href="/test/{{_id}}" style="  background-color: #23719F; ">
					<span class="thumbnail" style=" ; background-color: #23719F; "></span>
					<span class="fade"></span>
					<span class="details">
					<span class="board-list-item-name" title="{{title}}">
					{{title}}
					</span>
					<span class="unread-indicator js-unread" title="There is new activity on this board."></span>
					<span class="icon-sm icon-star js-star-board" title="Click to star this board. It will show up at top of your boards list."></span>
				</span>
				</a>
			</li>

</template>
