<template name="tmpl_boards_list">

	{{#each records}}
		{{> tmpl_boards_list_detail}}
	{{/each}}

	{{#if ready}}
		{{#unless allLoaded}}
			<a class="load-more" href="#">Load more</a>
		{{/unless}}
	{{else}}
		<div>{{> spinner}}</div>
	{{/if}}

</template>

<template name="tmpl_boards">
	<div class="js-boards-list-container">
		<div class="">
			<p class="sidebar-section-header quiet"> <span class="icon-sm icon-board"></span> My Boards</p>
			<ul class="sidebar-boards-list js-board-list">

			{{> tmpl_boards_list boardsHandle}}

			</ul>
		</div>
		<!--
		<a class="quiet-button js-show-important" href="#"> Only show important boards. </a>  <a class="quiet-button hide js-show-all" href="#"> Show all boards. </a>
		<a class="quiet-button js-pin" href="#">Always keep this menu open.</a> <a class="quiet-button hide js-unpin" href="#"> Don't keep this menu open. </a>
		<a class="quiet-button js-open-closed-boards" href="#"> See closed boards? </a>
		-->
	</div>

</template>

