<template name="tmpl_right_menu">

<div class="board-widgets">
<div>
<a id="btn-right-side-bar-close" href="#" class="sidebar-hide-btn dark-hover js-hide-sidebar" title="Close the board sidebar."> <span class="icon-sm icon-rightarrow"></span>
</a>
<div class="board-widgets-title clearfix">
	<a href="#" class="board-sidebar-back-btn js-pop-widget-view"><span class="left-arrow"></span>Back</a>
	<h3 class="text js-widget-title"></h3>
	<hr>
</div>
<!-- right sidebar -->

<div class="board-widgets-content-wrapper">
	<div class="board-widgets-content default fancy-scrollbar" style="height:{{board_widgets_content_height}}px;">
		<p class="error js-file-too-large" style="margin: 12px 0 6px; display:none;">File too large. 10mb limit.</p>
		<div id="btn-collapse-right-side-bar-menu" class="board-widget board-widget-nav clearfix collapsed">
			<h3 class="dark-hover toggle-widget-nav js-toggle-widget-nav" title="Click here to see more board options."> Menu <span
					class="icon-sm icon-leftarrow toggle-menu-icon"></span>
			</h3>
			<ul class="nav-list">
				<hr style="margin-top: 0;">
				<!--
				<li>
					<a href="https://trello.com/b/jX1VpidH/tdocs#" class="js-open-card-filter"> <span class="icon-sm icon-filter icon-type"></span> Filter cards</a>
				</li>
				<li>
					<a href="https://trello.com/b/jX1VpidH/tdocs#" class="js-open-archive"> <span class="icon-sm icon-archive icon-type"></span> Archived items</a>
				</li>
				<li>
					<a href="https://trello.com/b/jX1VpidH/tdocs#" class="js-open-stickers"> <span class="icon-sm icon-sticker icon-type"></span> Stickers</a>
				</li>
				<li>
					<a href="https://trello.com/b/jX1VpidH/tdocs#" class="js-open-power-ups"> <span class="icon-sm icon-rocket icon-type"></span> Power-Ups</a>
				</li>
				<li>
					<a href="https://trello.com/b/jX1VpidH/tdocs#" class="js-open-settings"> <span class="icon-sm icon-gear icon-type"></span> Settings</a>
				</li>
				<hr>
				<li class="sub-item">
					<a class="dark-hover js-board-subscribe" href="https://trello.com/b/jX1VpidH/tdocs#"> <span class="js-subscribed-state">Subscribe </span>
					</a>
				</li>
				<li class="sub-item"> <a class="js-copy-board" href="https://trello.com/b/jX1VpidH/tdocs#"> Copy Board? </a>
				</li>
				<li class="sub-item"> <a class="js-share" href="https://trello.com/b/jX1VpidH/tdocs#"> Share, Print, and Export? </a>
				</li>
				<hr>
				<li class="sub-item"> <a class="js-close-board" href="https://trello.com/b/jX1VpidH/tdocs#">Close Board?</a>
				</li>
				<li class="sub-item"> <a class="js-leave-board" href="https://trello.com/b/jX1VpidH/tdocs#">Leave Board?</a>
				</li>
				-->
				<li class="sub-item"> <a id="btn-delete-board" class="js-leave-board" href="#">Delete Board</a>
				</li>
			</ul>
		</div>
		<div class="js-ad"></div>
		<hr>
		<div class="board-widget board-widget-members clearfix">
			<div class="board-widget-title">
				<h3>Members</h3>
			</div>
			<div class="board-widget-content">
				<div class="board-widget-members js-list-board-members clearfix js-list-draggable-board-members">
					<div class="member ui-draggable">
						<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-status active" title="This member is online and viewing Trello."></span>  <span class="member-type admin" title="This member is an admin of this board."></span>  <span class="member-gold-badge"
						                                                                                                                                                                                                                                                                                                                       title="This member has Trello Gold."></span>
					</div>
					<div class="member ui-draggable"> <span class="member-initials" title="Ben Venker (benvenker)"> BV  </span>  <span class="member-status disconnected" title="This member is offline."></span>  <span class="member-type admin" title="This member is an admin of this board."></span>
		                                                <span
				                                                class="member-gold-badge" title="This member has Trello Gold."></span>
					</div>
				</div>
				<div class="js-list-observers"></div>
				<a href="#" class="button-link js-open-manage-board-members"> <span class="icon-sm icon-member"></span> Add Members?</a>
			</div>
		</div>
		<hr>
		<div class="board-widget board-widget-activity bottom clearfix">
			<div class="board-widget-title">
				<h3>Activity</h3>
			</div>
			<div class="board-widget-content">
				<div class="activity-gradient-t"></div>
				<div class="activity-gradient-b"></div>
				<div class="board-actions-list fancy-scrollbar" style="max-height:{{board_actions_list_height}}px;">
					<div class="js-sidebar-list-actions">
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> completed <a href="http://www.mozilla.org/MPL/2.0/" target="_blank">http://www.mozilla.org/MPL/2.0/</a> on
								<a
										href="https://trello.com/c/6mQxDKKD/16-license" class="inline-object action-card">License</a>.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-24T19:11:28.876Z" title="1/24/2014 1:11:22 PM">an hour ago</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/d7msKeO6/26-leave" class="inline-object action-card">leave</a> to
								To Do and added Checklist.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-24T19:09:57.155Z" title="1/24/2014 1:09:50 PM">an hour ago</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/ubpXOMw1/25-ui-html-css" class="inline-object action-card">UI: html/css</a> to
								Ideas and added Checklist.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-24T19:05:18.228Z" title="1/24/2014 1:05:11 PM">an hour ago</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> joined <a href="https://trello.com/c/Xi4lVUAR/3-stats-analysis-with-crossfilter" class="inline-object action-card">stats/analysis with crossfilter</a>.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-21T02:12:19.976Z" title="1/20/2014 8:12:13 PM">Jan 20 at 8:12 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/M3ZZ5j0X/24-reputation-profile-like-stackoverflow" class="inline-object action-card">Reputation / profile like stackoverflow</a> to
								Ideas.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-13T04:10:08.225Z" title="1/12/2014 10:10:01 PM">Jan 12 at 10:10 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/Z6WcN15S/23-meteor-packages" class="inline-object action-card">Meteor Packages</a> to
								Ideas and added Checklist.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-12T22:16:43.509Z" title="1/12/2014 4:16:36 PM">Jan 12 at 4:16 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> archived meteor packages.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-12T22:16:24.800Z" title="1/12/2014 4:16:18 PM">Jan 12 at 4:16 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/UWS1ncCG/22-https-github-com-spendflow-meteor-jquery-autosize"
							                                                                                                                                             class="inline-object action-card">https://github.com/spendflow/meteor-jquery-autosize</a> to meteor packages.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-12T22:16:05.539Z" title="1/12/2014 4:15:58 PM">Jan 12 at 4:15 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc"> <a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> added <a href="https://trello.com/c/SBS5HmM9/21-dropbox-integration" class="inline-object action-card">DropBox integration</a> to
								Ideas and added Checklist.</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-12T20:29:59.350Z" title="1/12/2014 2:29:52 PM">Jan 12 at 2:29 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
						<div class="phenom clearfix">
							<div class="creator member js-show-mem-menu">
								<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}" title="{{username}}"> <span class="member-gold-badge" title="This member has Trello Gold."></span>
							</div>
							<div class="phenom-desc">
								<a class="inline-object js-show-mem-menu" href="https://trello.com/51788b9f1c5644984a0075c9">johntday</a> on <a href="https://trello.com/c/x9ib5lz5/20-visio-integration" class="inline-object action-card">Visio integration</a>
								<div class="action-comment markeddown">
									<p>Here is my jsfiddle as prototype:</p>
									<p><a href="http://jsfiddle.net/johntday/m9BPJ/18/" target="_blank">http://jsfiddle.net/johntday/m9BPJ/18/</a>
									</p>
								</div>
							</div>
							<p class="phenom-meta quiet"> <span class="date js-hide-on-sending" dt="2014-01-11T00:41:56.485Z" title="1/10/2014 6:41:49 PM">Jan 10 at 6:41 pm</span>  <span class="js-spinner hide"><span class="spinner small left" style="margin-right: 4px;"></span> Sending?</span>
		                                                        <span
				                                                        class="js-hide-on-sending"></span>
							</p>
						</div>
					</div>
					<a class="show-more js-view-all-activity-list" href="#"> View all activity? </a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sidebar-archive-dropzone js-sidebar-archive-dropzone">
	<p>Drop here to archive.</p>
</div>
</div>
</div>

</template>
