<!-- LAYOUT -->
<template name="layout">
	<div class="page-index  chrome chrome-32 windows extra-large-window body-board-background" style="background-color: rgb(35, 113, 159);">

		<div id="nocss">
			Your browser was unable to load all of our resources. They may have been blocked by your firewall, proxy or browser configuration.
			<br>Please refresh your browser and try again
			<hr>
		</div>

		<!-- data -->
		<div id="surface" class="clearfix" style="">
			<!-- header -->
			<div id="header">
				<a class="header-logo" href="/boards" title="Go back to your boards page."> <span class="header-logo-loading"></span>
					<span class="header-btn-text">TBoards</span>
				</a>
				<div class="header-boards-button">
					<a class="header-btn header-boards js-boards-menu" title="View list of boards" href="#"> <span class="header-btn-icon icon-lg icon-board light"></span>  <span class="header-btn-text">Boards</span>
					</a>
				</div>
				<form>
					<a href="#" class="header-btn show-search-btn js-show-search" title="Search for stuff"> <span
							class="header-btn-icon icon-lg icon-search light"></span>
					</a>
					<div id="header-search">
						<label for="search-text">Global Search</label>
						<input id="search-text" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
						<input id="search-submit" type="submit" value="Search">
						<a class="header-btn header-search js-search-submit" href="#" title="Search for stuff"> <span
								class="header-btn-icon icon-lg icon-search light"></span>
						</a>
					</div>
				</form>
				<div>
					<a class="header-btn header-woof {{hideWoof}}" href="#"> <span class="taco-talk-small-icon"></span>  <span
							class="header-btn-text"><span
							class="left-arrow"></span>Roo! (<span class="js-phrase">New stuff available!</span>)</span>
					</a>
				</div>
				<div class="header-user">
					<a class="header-btn header-btn-feedback js-open-feedback {{hideFeedback}}"
					   title="Give us some feedback" href="#"> <span class="header-btn-icon icon-lg icon-comment light"></span>
						<span class="header-btn-text">Feedback</span>
					</a>
					{{#if currentUser}}
					<a id="btn-create-new-board" class="header-btn js-open-add-menu"
					   href="#" title="Add a new board"> <span class="header-btn-icon icon-lg icon-add light"></span>
					</a>
					<a id="btn-profile" class="header-btn header-member js-open-header-member-menu" href="#" title="Your profile, help, and log out">
					<span class="member">
						<img class="member-avatar" height="30" width="30" src="/img/30.png" alt="{{username}}">
						<span class="member-gold-badge" title="This member has Trello Gold."></span>
					</span>
						<span class="header-btn-text js-member-name">{{username}}</span>
					</a>
					<a class="header-btn header-notifications js-open-header-notifications-menu" href="#" title="0 Notifications">
						<span class="header-btn-icon icon-lg icon-notification light"></span>
					</a>
					{{/if}}
				</div>
			</div>


			<p id="notification" style="display: none;"></p>

			<div id="content" class="clearfix">

				{{ yield }}

				<noscript class="big-message">&lt;h1&gt;To use Tboard, you need to enable JavaScript&lt;/h1&gt;</noscript>
				<div id="boards-drawer">
					<div class="boards-drawer">
						<div class="boards-drawer-header js-drawer-header">
							<h3>Boards</h3>
						</div>
						<div class="board-drawer-content fancy-scrollbar" style="max-height:{{board_drawer_content_max_height}}px;">
							<input type="text" class="js-search-boards" placeholder="Find boards by name?">
							<div class="js-board-results-container hide">
								<ul class="sidebar-boards-list js-board-results"></ul>
							</div>

							{{> tmpl_boards}}

						</div>
					</div>
				</div>
			</div>

			<!-- window-overlay -->
			<div class="window-overlay">
			</div>



<!-- ALL POPUPS -->
			<!-- pop-over -->
			<div class="pop-over clearfix fancy-scrollbar" style="left:{{width}}px; top: 317px; max-height:{{list_cards_max_height}}px; display: none;">
				<div class="header clearfix">
					<a class="back-btn js-back-view" href="#" style="display: none;"> <span class="icon-sm icon-leftarrow"></span>
					</a> <span class="header-title">Add Checklist</span>
					<a class="close-btn js-close-popover" href="#"> <span class="icon-sm icon-close"></span>
					</a>
				</div>
				<div class="content clearfix" style=""></div>
			</div>

			<!-- CREATE NEW BOARD -->
			<div class="pop-over clearfix fancy-scrollbar" style="left:{{width}}px; top: 45px; max-height:{{list_cards_max_height}}px; display:{{createBoard}};">
				<div class="header clearfix">
					<a class="back-btn js-back-view" href="#" style="display: none;">
						<span class="icon-sm icon-leftarrow"></span>
					</a>
					<span class="header-title">Create Board</span>
					<a class="close-btn js-close-popover" href="#">
						<span class="icon-sm icon-close"></span>
					</a>
				</div>
				<div class="content clearfix" style="">
					<div>
						<form>
							<label for="boardNewTitle">Title</label>
							<input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="Untitled Board">
							<input type="submit" class="primary wide js-submit" value="Create" id="create-new-board">
						</form>
					</div>
				</div>
			</div>

			<!--pop over stack -->
			<div class="pop-over clearfix fancy-scrollbar" style="left:{{width}}px; top: 115px; max-height:{{list_cards_max_height}}px; display:{{stack_actions_pop_up}};">
				<div class="header clearfix"><a class="back-btn js-back-view" href="#" style="display: none;"> <span class="icon-sm icon-leftarrow"></span> </a> <span class="header-title">List Actions</span>
					<a class="close-btn js-close-popover" href="#"> <span class="icon-sm icon-close"></span> </a></div>
				<div class="content clearfix" style="">
					<div>
						<!--
											<ul class="pop-over-list">
												<li><a class="js-add-card" href="#">Add Card…</a></li>
												<li><a class="js-copy-list" href="#">Copy List…</a></li>
												<li><a class="js-move-list" href="#">Move List…</a></li>
												<li><a class="highlight-icon js-list-subscribe" href="#">Subscribe</a></li>
											</ul>
											<hr>
											<ul class="pop-over-list">
												<li><a class="js-move-cards" href="#">Move All Cards in This List…</a></li>
												<li><a class="js-archive-cards" href="#">Archive All Cards in This List…</a></li>
											</ul>
											<hr>
											-->
						<ul class="pop-over-list">
							<li><a id="btn-delete-stack" class="js-close-list" href="#">Delete this stack</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- pop-over CARD ACTIONS -->
			<div class="pop-over clearfix fancy-scrollbar" style="left:{{width}}px; top: 329px; max-height:{{list_cards_max_height}}px; display:{{card_actions_pop_up}};">
				<div class="header clearfix">
					<a class="back-btn js-back-view" href="#" style="display: none;"> <span class="icon-sm icon-leftarrow"></span>
					</a> <span class="header-title">Card Actions</span>
					<a class="close-btn js-close-popover" href="#"> <span class="icon-sm icon-close"></span>
					</a>
				</div>
				<div class="content clearfix" style="">
					<div>
						<ul class="pop-over-list">
							<!--
							<li> <a class="js-edit-labels" href="#">Labels…</a>
							</li>
							<li> <a class="js-change-card-members" href="#">Members…</a>
							</li>
							<li> <a class="js-due-date" href="#">Due Date…</a>
							</li>
							<li> <a class="js-move-card" href="#">Move…</a>
							</li>
							<li> <a class="js-subscribe highlight-icon" href="#">Subscribe</a>
							</li>
							<li> <a class="js-more" href="#">More Actions…</a>
							</li>
						</ul>
						<hr>
						<ul class="pop-over-list">
						-->
							<li> <a class="js-archive-card" href="#" id="delete-card">Delete</a>
							</li>
							<!--</ul>-->
					</div>
				</div>
			</div>

			<!-- tooltip-container POPUP -->
			<div class="tooltip-container"></div>

			<!-- clipboard-container POPUP -->
			<div id="clipboard-container"></div>

			<!-- staging -->
			<div id="staging" style="visibility: hidden; position: absolute; left: 0px; top: -100000px; width: 100%;"></div>

			<!-- rename board -->
			<div class="pop-over clearfix fancy-scrollbar" style="left: 8px; top: 85px; display:{{renameBoard}};">
				<div class="header clearfix">
					<span class="header-title">Rename Board</span>
					<a class="close-btn js-close-popover" href="#"> <span class="icon-sm icon-close"></span> </a>
				</div>
				<div class="content clearfix" style="">
					<div>
						<form>
							<label>Name</label>
							<input type="text" class="js-board-name js-autofocus" value="{{title}}">
							<input id="btn-rename-board" type="submit" class="primary wide js-rename-board" value="Rename">
						</form>
					</div>
				</div>
			</div>

			<!-- profile -->
			<div class="pop-over clearfix fancy-scrollbar" style="left:{{left}}px; top: 45px; max-height: {{list_cards_max_height}}px; display:{{profilePopUp}};">
				<div class="header clearfix">
					<span class="header-title">{{username}}</span>
					<a class="close-btn js-close-popover" href="#">
						<span class="icon-sm icon-close"></span>
					</a>
				</div>
				<div class="content clearfix" style="">
					<div>
						<!--
						<ul class="pop-over-list">
							<li><a class="js-profile" href="/johntday">Profile</a></li>
							<li><a class="js-cards" href="/johntday/cards">Cards</a></li>
							<li><a class="js-account" href="/johntday/account">Settings</a></li>
						</ul>
						<hr>
						<ul class="pop-over-list">
							<li><a class="js-help" href="/help">Help</a></li>
							<li><a class="js-reco" href="/recommend">Share Trello</a></li>
						</ul>
						<hr>
						-->
						<ul class="pop-over-list">
							<li><a id="btn-logout" class="js-logout" href="#">Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>


		</div>

	</div>

</template>
