<template name="tmpl_board">

	<div class="board-wrapper {{hideRightSideBar}}">
		<div class="board-header clearfix js-board-header">
			<a id="btn-rename-board-popup" href="#" class="board-header-btn board-header-btn-name js-rename-board" title="Rename the board."> <span
					class="board-header-btn-text">{{title}}</span>
			</a>
			<!--
			<a href="#" class="board-header-btn board-header-btn-org-name js-org-name board-header-btn-without-icon"
			   title="This board is part of the My Meteor organization">
				<span class="board-header-btn-text">{{description}}</span>
			</a>
			-->
			<div class="board-header-btns left">
				<a href="#" class="board-header-btn js-star-board board-header-btn-enabled"
				   title="Click to star or unstar this board. Starred boards show up at the top of your boards list."> <span class="board-header-btn-icon icon-sm icon-star js-star-board-icon"></span>
				</a>
				<!--
				<a href="#" class="board-header-btn js-open-desc js-fill-desc" title="{{description}}"> <span class="board-header-btn-icon icon-sm icon-edit"></span>
				</a>
				-->
			</div>
			<div class="board-header-btns right">
				<a href="#" class="board-header-btn board-header-btn-filter-indicator hide js-filter-cards-indicator" title="You are filtering cards on this board. Click here to edit filter."> <span class="board-header-btn-icon icon-sm icon-filter"></span>  <span class="board-header-btn-text underline">Filtering is on.</span>  <span class="board-header-btn-icon-close icon-sm icon-close js-filter-card-clear" title="Clear filter."></span>
				</a>
				<div class="board-header-btn sub-btn hide js-board-header-subscribed" title="You are subscribed to this board. You&#39;ll get notifications about changes."> <span class="board-header-btn-icon icon-sm icon-follow"></span>  <span class="board-header-btn-text underline">Subscribed</span>
				</div>
				<a href="#" class="board-header-btn calendar-btn hide js-calendar" title="View all your cards with due dates in a calendar view."> <span class="board-header-btn-icon icon-sm icon-cal"></span>  <span class="board-header-btn-text underline">Calendar</span>
				</a>
			</div>
		</div>
		<a id="btn-right-side-bar-open" href="#" class="sidebar-show-btn dark-hover js-show-sidebar"> <span class="icon-sm icon-leftarrow"></span>
			<span class="text">Show sidebar</span>
		</a>

		<!--==========================
			RIGHT MENU -->
		{{> tmpl_right_menu}}

		<div class="board-canvas" style="height:{{board_canvas_height}}px;">
			<div id="board" class="clearfix">
				<div class="list-area-wrapper fancy-scrollbar">
					<div class="list-area  js-list-sortable  js-no-higher-edits clearfix ui-sortable" style="width:{{list_area_width}}px;">


						{{> tmpl_stacks}}


						<div class="list add-list idle">
							<form>
								<span class="placeholder js-open-add-list">Add a stack?</span>
								<input type="text" class="list-name-input" name="name" placeholder="Add a stack?" autocomplete="off">
								<div class="edit-controls keep clearfix">
									<input type="submit" class="primary confirm js-save-edit" value="Save" id="add-new-stack">
									<a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a>
								</div>
							</form>
						</div>

						<div class="version-tag"></div>
					</div>
				</div>
				<div class="bottom-archive-dropzone js-bottom-archive-dropzone"></div>
			</div>
		</div>
	</div>
	</div>


</template>
